table, td, th
{
	border: 2px, solid black;
	border-collapse: collapse;
}

.copyright
{
	font-size:0.5em;
}

.avecserif
{
	font-family:"Arial", serif;
	font-size: 1.5em;
}

p
{
	font-family:"Arial", serif;
	color: #404040;
}

a
{
	color: #D4909B;
}

a:hover
{
	color: red;
}

.vache
{
	display:block;
    margin-left: auto;
    margin-right: auto;
}

.tete
{
	font-style:italic;
	text-align: center;
}

body
{
	background-color:#E4F5DC;
	text-align: justify;
}

nav
{
	font-family:"Times New Roman",Times, serif;
	font-size: 1.3em;
}

footer
{
	font-style:italic;
}

.boutonSoumission
{
	border-radius:10px 0;
	background-color:#31839E;
	color:white;
	border-color:#31839E;
	
}

.boutonSoumission:hover
{
	box-shadow:  0 8px 8px 0 rgba(0,0,0,0.24), 0 10px 30px 0
rgba(0,0,0,0.19);
}




/*sections*/




header
{
	margin:auto;
    display: block;
}

/*nav
{
	width:15%;
	float:left;
	margin-left:auto;
    clear: both;
    overflow: auto;
}

.corps
{
	width:60%;
	margin:auto;
}

aside
{
	width:15%;
	float:right;
	margin-left:auto;
}
*/

nav
{
    display: inline-block;
	width:20%;
	position: relative;
	float: left;
}

.corps
{
	
    display: inline-block;
	width:60%;
position: relative;
}

aside
{
	display: inline-block;
	position: relative;
	float: right;
}

footer
{
	margin:auto;
    display: block;
}
